@import url('https://fonts.googleapis.com/css?family=Tangerine');

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 600px;
  text-align: center;
  background-image: url('../images/bg_home.png');
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 20px; /* XY */
  padding-top: 3em;
}

.mainContainer::before {
  content:"";
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 600px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.mainChild  {
  padding: 10px;
}

.greetings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
  padding-right: 10px;
  font-family: 'Tangerine', cursive;
  text-shadow: 8px 3px 3px #aaa;
}

.greetingsChild {
  font-size: 5em;
  color: rgb(0, 0, 0);
  padding: 5px;
  width: 100%;
}

#anNyoung {
  font-size: 2.5em;
  text-shadow: 0.1em 0.1em 0.05em #aaa;
  font-weight: 300;
}

.loginBox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  min-height: 50px;
  align-self: flex-end;
  background-color: rgba(250, 112, 58, 0.411);
  padding: 5px;
  bottom: 50px;
  position: absolute;
}